<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dsti code challenge</title>
    <link rel="stylesheet" href="_edit.min.css">
   
</head>
<body>
    <div class="parpopup">    
            <h4>Edit Station</h4>
            <span>T o the the Latitude and Longitude go to the map and drag the marker</span>
            <div id="nameandcap" >
                      <span id="cap">Type:</span> <%= obj.type %> <br>
                    <span id="cap">Capacity:</span> <%= obj.capacity %> 
                   </div>
               <div class="position"> 
                   
                   <div>
                       
                       <span id="cap">Type:</span> <input onfocus="this.select()" list="browsers" name="type" id="browser">
                       <datalist id="browsers">    
                           <option value='Dam'> 
                           <option value='Well'> 
                           <option value='Pump Station'>
                           <option value='Community Pump'>
                       </datalist> 
                   </div>
                   <div><span id="cap">Capacity:</span>  
                        <input onfocus="this.select()"  min='1'  name="capacity" type="number">
                        <input name='id' value=<%= obj._id %> hidden name="id" type="text">
                       
                   </div> 
                   <div>
                       <div>
                       <a onclick="displayoff()">cancel</a> 
                       <a onclick="savestation()">save</a> 
                       <img src="loading.gif" alt="">
                </div>  
                   </div>        
               </div>
           <!-- </div> -->
       </div>

       <script src="edit.js"></script>

       <!-- <script>
           function savestation(){
            let empty = true
            let editedobj = {}
            let val = document.querySelectorAll('.position div input')
            for (let dx = 0; dx < val.length; dx++) {
                console.log(val[dx].value)
                if(val[dx].value==''){
                    val[dx].style.borderColor ='red' 
                    empty = false
                }else{
                    editedobj[val[dx].name] = val[dx].value
                    val[dx].style.borderColor ='gray'
                }
            }

            if(empty){
            document.querySelector('img').style.display='block' 
            fetch('/saveedit',{
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(editedobj),
                })
                .then(response => response.json())
                .then(data => {
                    if(data==='success'){
                        setTimeout(() => {                        
                        window.location.href = "/";
                        }, 1000);        
                    }
                })
                .catch((error) => {
                console.error('Error:', error);
                });
            }
           }
       </script> -->
</body>
</html>