<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dsti code challenge</title>
    <link rel="icon" type="image/png" href="icon.png" />
    <meta name="description" content="Web site created by ALhaji Masie" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="_min.css">
</head>
<body>
    <!-- <div id="mm"></div> -->
    <div class="parpopup">
        <div class="popup">
            <h4>Add Station</h4>
            <div class="position">
                <div><span id="cap">Type:</span> <input list="browsers" onfocus="this.select()" name="type"
                        id="browser">
                    <datalist id="browsers">
                        <option value='Dam'>
                        <option value='Well'>
                        <option value='Pump Station'>
                        <option value='Community Pump'>
                    </datalist>
                </div>
                <div><span id="cap">Capacity:</span>
                    <input name="capacity" type="number" min="1" onfocus="this.select()">
                </div>
                <div>
                    <div class="groupimg">
                        <button onclick="displayoff()">cancel</button>
                        <button onclick="savestation()">save</button>
                        <img src="loading.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="updatestation">
        <div>
            <h4>Update Station Location</h4>
            <h3>Succesfully updated</h3>
            <img src="loading.gif" alt="">
            <div>
                <button onclick="dragPositionno()">no</button>
                <button onclick="dragPositionyes()">yes</button>
            </div>
        </div>
    </div>
    <div id="mapid"></div>
    <div id="legend">
        <div class="dropdown">
        </div>
    </div>
    <div class="latlng">
    <div class="lat"><span>Lat:</span><p>latt</p> </div>
    <div class="lng"><span>Lng:</span><p>long</p> </div>
    </div>
    <script src="min.js"></script>
</body>
</html>