 
#mapid {
    widows: 100%;
    height: 100vh;
    min-height: 700px;
    min-width: 700px;
    position: relative;
    z-index: 0;
}

#legend {
    height: 10vh;
    width: fit-content;
    position: absolute;
    top: 60vh
}

.latlng {
    background-color: rgb(78 46 46);
    width: 12em;
    max-height: 5em;
    border-radius: .2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3px;
    position: absolute;
}

.latlng .lat {
    color: rgb(247 138 0);
    max-width: 5em;
    max-height: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    height: 1em;
    font-weight: bold;
    color: rgb(247 138 0);
}.latlng .lng {   
    max-width: 5em;
    max-height: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    height: 1em;
    font-weight: bold;
    color: rgb(247 138 0);
}
 .latlng .lat p {   
    font-weight: lighter;
    color: white;
}.latlng .lng p {   
    font-weight: lighter;
    color: white;
}
 
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 10em;
    justify-content: center;
    align-items: flex-start;
}

.dropdown:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5em;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 4em;
}

.dropdown-content span {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #ff6600;
}

.dropdown-content span:hover {
    background-color: blue
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #ff6600;
    margin: 0px;
}


.dropdown:hover .dropbtn:hover {
    background-color: blue;
    margin: 0px !important;
}

.dropdown:hover .dropbtn img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.dropbtn img {
    width: 1em;
    height: 1em;
    margin-right: 5px;

}

.dropbtn {
    background-color: #4c6baf;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0px;
}

.position {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 2px solid green;
    border-radius: 4px;
    width: fit-content;
    padding: 4px;
}

.position div {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.575);
    font-weight: lighter;
}

.position div input {
    position: relative;
    width: 100%;
    margin: 0px 0px 5px 2px;
    border: 2px solid gray;
    border-radius: 4px;

}

.position div {

    display: flex;
    justify-content: flex-start;

}



.position div div {
display: flex;
justify-content: flex-start;
width: 9.4em;
height: 1.8em;
overflow: hidden;
/* align-items: flex-start; */
}


.position div #cap {
    color: rgba(255, 255, 255, 0.884) !important;
    font-weight: bold;
    margin-right: .5em;

}

.position div span {
    color: rgba(0, 0, 0, 0.884);
    font-weight: bold;
    margin-right: .5em;

}

.position button {
    color: rgb(231, 231, 231);
    font-weight: bold;
    background-color: rgba(252, 6, 6, 0.884);
    width: fit-content;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: .2em;

    /* margin-right: .5em; */
}

.position a {
    color: rgb(231, 231, 231);
    font-weight: bold;
    background-color: rgba(10, 6, 252, 0.767);
    width: 3em;
    text-decoration: none;
    text-align: center;
    border: 0px;
    margin-left: .2em;
    border-radius: 3px;
    cursor: pointer;
    margin-top: .2em;
    z-index: 99;

    /* justify-self: flex-end;
align-self: flex-end; */
}

.position button:nth-child(2) {
    color: rgb(231, 231, 231);
    font-weight: bold;
    background-color: rgb(6, 22, 252);
    width: fit-content;
    border: 0px;
    margin-left: .2em;
    border-radius: 3px;
    cursor: pointer;
    margin-top: .2em;
    z-index: 99;

}

.parpopup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.911);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0px;
    top: 0px
}

.parpopup div {

    position: relative;


}

.groupimg img {
    width: 5em;
    height: 3.5em;
    margin-left: -1.8em;
    margin-top: -.99em;
    position: relative;
    z-index: 0; 
    display: none; 
}

.popup h4 {
    color: whitesmoke;

}

h3 {
    color: lime;
    display: none
}

.updatestation {
    position: fixed;
    background-color: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0px;
    top: 0px;

}

.updatestation div {
    background-color: rgb(78 46 46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    border-radius: .6em;
    width: 30%;
    height: 30%;
    left: 0px;
    top: 0px;
}

.updatestation div div button:nth-child(1) {
    color: rgb(231, 231, 231);
    font-weight: bold;
    background-color: rgba(252, 6, 6, 0.884);
    min-width: 3em;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    margin: .2em;
    padding: .5em;
    text-align: center;

    /* margin-right: .5em; */
}

.updatestation div div button:nth-child(2) {
    color: rgb(231, 231, 231);
    font-weight: bold;
    background-color: rgba(10, 6, 252, 0.767);
    min-width: 3em;
    text-decoration: none;
    text-align: center;
    border: 0px;
    margin-left: .2em;
    border-radius: 3px;
    cursor: pointer;
    margin: .2em;
    padding: .5em;
    text-align: center;
}

.updatestation div div {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.updatestation div img {
    max-width: 8em;
    max-height: 8em;
    margin: -2em;
    display: none;
}

    .deleter img {
max-width: 8em;
max-height: 8em;
position: relative;
margin: -1.9em -3.4em -6em -3.2em;
z-index: 0;
pointer-events: none;
/* opacity: 0; */
display: none;

}
 